Repository CodeSystem2022/LosBorbocoders-TercerSemestre, pull requests merged in 2023-06, with the labels that each got.

#142 Clase 4 Sobreescritura, Polimorfismo y instanceof
  Java/Semana04/InstanceOf/Empleado..java
  Java/Semana04/InstanceOf/Empleado.java
  Java/Semana04/InstanceOf/TestInstanceOf.java
  Java/Semana04/Sobreescritura/Gerente.java
  Java/Semana04/Sobreescritura/TestSobreescritura.java
Labels: java

#143 Clase 5
  Semana05/ClaseAbstract/domian/FiguraGeometrica.java
  Semana05/ClaseAbstract/domian/Rectangulo.java
  Semana05/ClaseAbstract/test/testAbstractas.java
  Semana05/ClaseObject/build.xml
  Semana05/ClaseObject/build/classes/domain/Empleado.class
  Semana05/ClaseObject/build/classes/domain/Escritor.class
  Semana05/ClaseObject/build/classes/domain/Gerente.class
  Semana05/ClaseObject/build/classes/domain/TipoEscritura.class
  Semana05/ClaseObject/build/classes/test/TestConversionObjeto.class
  Semana05/ClaseObject/manifest.mf
  Semana05/ClaseObject/nbproject/build-impl.xml
  Semana05/ClaseObject/nbproject/genfiles.properties
  Semana05/ClaseObject/nbproject/private/private.properties
  Semana05/ClaseObject/nbproject/private/private.xml
  Semana05/ClaseObject/nbproject/project.properties
  Semana05/ClaseObject/nbproject/project.xml
  Semana05/ClaseObject/src/domain/Empleado.java
  Semana05/ClaseObject/src/domain/Escritor.java
  Semana05/ClaseObject/src/domain/Gerente.java
  Semana05/ClaseObject/src/domain/TipoEscritura.java
  Semana05/ClaseObject/src/test/TestConversionObjeto.java
  Semana05/PruebasconDowncasting-UpcastingParte1/TestConversionObjetos.java
Labels: java

#202 Clase 5
  Java/Semana05/ClaseAbstract/domian/FiguraGeometrica.java
  Java/Semana05/ClaseAbstract/domian/Rectangulo.java
  Java/Semana05/ClaseAbstract/test/testAbstractas.java
  Java/Semana05/ClaseObject/build.xml
  Java/Semana05/ClaseObject/build/classes/domain/Empleado.class
  Java/Semana05/ClaseObject/build/classes/domain/Escritor.class
  Java/Semana05/ClaseObject/build/classes/domain/Gerente.class
  Java/Semana05/ClaseObject/build/classes/domain/TipoEscritura.class
  Java/Semana05/ClaseObject/build/classes/test/TestConversionObjeto.class
  Java/Semana05/ClaseObject/manifest.mf
  Java/Semana05/ClaseObject/nbproject/build-impl.xml
  Java/Semana05/ClaseObject/nbproject/genfiles.properties
  Java/Semana05/ClaseObject/nbproject/private/private.properties
  Java/Semana05/ClaseObject/nbproject/private/private.xml
  Java/Semana05/ClaseObject/nbproject/project.properties
  Java/Semana05/ClaseObject/nbproject/project.xml
  Java/Semana05/ClaseObject/src/domain/Empleado.java
  Java/Semana05/ClaseObject/src/domain/Escritor.java
  Java/Semana05/ClaseObject/src/domain/Gerente.java
  Java/Semana05/ClaseObject/src/domain/TipoEscritura.java
  Java/Semana05/ClaseObject/src/test/TestConversionObjeto.java
  Java/Semana05/PruebasconDowncasting-UpcastingParte1/TestConversionObjetos.java
Labels: java

#213 Organizando el repositorio
  Python/capa_Datos_persona/capa_datos.log
  Python/capa_Datos_persona/loger_base.py
Labels: enhancement

#246 Pool de conexiones
  Python/Semana10/__pycache__/loger_base.cpython-311.pyc
  Python/Semana10/capa_datos.log
  Python/Semana10/conexion.py
  Python/Semana10/loger_base.py
  Python/Semana10/persona_dao.py
Labels: development, python

#237 Proyecto Listar Personas
  Java/Semana10/ListarPersonas/ListarPersonas.iml
  Java/Semana10/ListarPersonas/out/production/ListarPersonas/ListadoPersonasApp.class
  Java/Semana10/ListarPersonas/out/production/ListarPersonas/Persona.class
  Java/Semana10/ListarPersonas/src/ListadoPersonasApp.java
  Java/Semana10/ListarPersonas/src/Persona.java
Labels: development, java

#248 Javascript Semana 10
  Java/Semana06/Docker.pdf
  Javascript/Semana08/05-03-clases.js
  README.md
Labels: development, javascript
